.contacto{
    height: 50%;
    width: 100%;
    display: block;
    text-align: center;
    .form1{
        @include formato(1%, 1%, 80%)
    }
    .form2{
        @include formato(1%, 1%, 39%)
    }
    .form3{
        @include formato(1%, 1%, 39%)
    }
    .form4{
        @include formato(1%, 1%, 25.5%)
    }
    .form5{
        @include formato(1%, 1%, 25.5%)
    }
    .form6{
        @include formato(1%, 1%, 25.5%)
    }
    .form7{
        @include formato(1%, 1%, 80%)
    }
    .enviar{
        border-radius: 10px;
        box-shadow: 1px 3px 3px #666666;
        color: #ffffff;
        font-style: italic;
        background: #F69037;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
}

