header{
    height: 30%;
    width: 100%;
    padding-left: 2%;
    align-items: center;
    background: rgb(223,209,181);
    background: linear-gradient(0deg, rgba(240, 234, 223, 0.647) 4%, rgba(223,209,181,0.8071428400461748) 15%, rgba(223,209,181,1) 34%, rgba(227,204,159,1) 57%, rgba(226,192,126,1) 86%, rgba(209,171,98,1) 99%);
    display: flex;
    justify-content: space-around;

    .logo{
        width: 33%;
        -webkit-animation: flip-vertical-right 0.5s ease-in reverse both;
        animation: flip-vertical-right 0.5s ease-in reverse both;
        
        @-webkit-keyframes flip-vertical-right {
            0% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
            }
            100% {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            }
            }
            @keyframes flip-vertical-right {
            0% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
            }
            100% {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            }
            }
        }
    
    .navbar{
        width: 100%;
        ul{
            list-style: none;
            display: flex;
            justify-content: flex-end;
            font-size: large;
            gap: 10%;
            a:hover{
                text-decoration: underline;
                text-decoration-color: map-get($map: $colors, $key: tres);
                text-decoration-thickness: 2px;
            }
        }
    }
    .dropdown {
        position: relative;
        display: none;
        .drop-botton {
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                }
            .dropdown-content a:hover {
                background-color: rgba(236, 161, 75, 0.842);
            }
            .dropdown:hover .dropbtn {
                background-color: #f79604;
            }
            a{
                text-decoration: none;
                color: black;
                padding-right: 6px;
            }
        }
    }
}

