.caracteristicas{
    width: 100%;
    display: flex;
    align-items: center;
    .lista-unidades{
        width: 50%;
        padding: 5%;
        text-align: center;
        p{
            font-weight: bold;
            padding-bottom: 5%;
        }
        ul{
            list-style: none;
            line-height: 150%;
        }
    }
    .foto-unidad{
        width: 50%;
    }
}