@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Raleway:wght@100;300&display=swap');

*{
    font-family: 'Oooh Baby', cursive;
    font-family: 'Raleway', sans-serif;
    }

    a{
        text-decoration: none;
        color: black;
        padding-right: 6px;
    }

    h1{
        text-align: center;
        font-family: 'Oooh Baby', cursive;
        font-size: xx-large;
        line-height: 100px;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: right;
        font-family: 'Oooh Baby', cursive;
        padding-right: 2%;
        font-size: 25px;
    }